.requete .cadre, .search form.cadre {
    border: solid 1px #565656;
}

.requete .label, .search .label {
    background-color: #dedede;
}

@media (min-width: 576px) {
    .modal-dialog {
        margin: 1.75rem auto;
        max-width: calc(100% - 3.5rem) !important;
    }
}

.hidden {
    display: none;
}