{% set background = 'background: #C8E8C2;' %}
{% set background_title = 'background: #344830; color: white;' %}

{% set contacts = contact_infos() %}
<div class="col-12 row mx-0 px-0">
    <div class="col-12 row mx-0 px-0">
        <div class="col-8 mx-0 px-0">Demandes à traiter</div>
        <div class="col-4 mx-0 text-right">{{ contacts.a_traiter }}
    </div>
    <div class="col-12 row mx-0 px-0">
        <div class="col-8 mx-0 px-0">Demandes sur 2 dernières semaines</div>
        <div class="col-4 mx-0 text-right">{{ contacts.last2weeks }}
    </div>
    <div class="col-12 row mx-0 px-0">
        <div class="col-8 mx-0 px-0">Demandes alnnt arriver hors délais</div>
        <div class="col-4 mx-0 text-right">{{ contacts.goToEnd }}
    </div>
    <div class="col-12 row mx-0 px-0">
        <div class="col-8 mx-0 px-0">Demandes hors délais</div>
        <div class="col-4 mx-0 text-right">{{ contacts.outOfTime }}
    </div>
</div>